*{
    font-family: "AdihausDIN", sans-serif;
  }
  

.offerCardImg{
height: 60vh;
width: 330px;
}
.offerCard{
    width: 330px;
    color: black;
    gap: 15px;
}

.offer-cards-wrapper{
  display: grid;
    grid-template-columns: repeat(8, minmax(330px,1fr));
    overflow: scroll;
    align-items: center;
    transition: all 0.5s;
  }

    .offer-cards-wrapper::-webkit-scrollbar {
      display: none;
    }
    .offer-cards-wrapper {
      -ms-overflow-style: none;
      scrollbar-width: none; 
    }

    .offers-cards-arrow-left{
      width: 65px;
    height: 65px;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .offers-cards-arrow-right{
      width: 65px;
    height: 65px;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }